<!--
============================================
; Title: invoice-summary-dialog
; Author: Adam Donner
; Date: 01/19/2020
; Modified By: Reva Baumann
; Description: User enrollment
;===========================================
-->

<div fxLayout="column" fxFlexFill style="padding: 10px;">
  <div fxLayout="row" fxLayoutAlign="start center">
    <h2 mat-dialog-title fxFlex>Invoice summary</h2>
    <div fxFlex></div>
    <h4 fxFlex>Order Date: {{invoice.orderDate | date}}</h4>
  </div>
  <mat-dialog-content fxLayout="column" fxLayoutAlign="start">
    <h4>Services</h4>
    <div *ngFor="let lineItem of invoice.lineItems">
      <mat-list>
        <mat-list-item>
          {{lineItem.service.description}} {{lineItem.service.price | currency}}
        </mat-list-item>
      </mat-list>
    </div>
    <h4>Parts: {{invoice.partsAmount | currency}}</h4>
    <h4>Labor: {{invoice.laborAmount | currency}}</h4>
    <mat-divider></mat-divider>
    <h4>Total Charges: {{invoice.total | currency}}</h4>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <h4>Order taken by: {{invoice.username}}</h4>
    <div fxFlex></div>
    <button mat-raised-button matDialogClose="cancel">Cancel</button>
    <button mat-raised-button matDialogClose="confirm" cdkFocusInitial>Confirm Order</button>
  </mat-dialog-actions>
</div>
