<!--
============================================
; Title: role-detail-dialog.component
; Author: Reva Baumann
; Date: 01/25/2020
; Modified By: Reva Baumann
; Description: Role detail dialog
;===========================================
-->
<div fxLayout="column" fxFlexFill style="padding: 10px;">
  <h2 mat-dialog-title>{{title}}</h2>
  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  <mat-dialog-content>
    <form
      [formGroup]="form"
    >
      <mat-form-field fxLayout="column">
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Enter role name"
          fxFlex
        />
      </mat-form-field>
      <br />
      <mat-card-actions>
        <div fxFlex></div>
        <button (click)="cancel()" mat-raised-button>Cancel</button>
        <button type="submit" (click)="save()" mat-raised-button>Save</button>
      </mat-card-actions>
    </form>
  </mat-dialog-content>
</div>
