<!--
============================================
; Title: forgot-password-dialog.component
; Author: Adam Donner
; Date: 01/19/2020
; Modified By: Reva Baumann
; Description: User enrollment
;===========================================
-->
<div fxLayout="column">
  <h2>Forgot password</h2>
  <!-- include the stepper liner requires form to be valid before continuing -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="userNameForm">
      <form [formGroup]="userNameForm">
        <ng-template matStepLabel>Username</ng-template>
        <div fxLayout="column" fxLayoutAlign="start">
          <mat-form-field>
            <input type="text" matInput formControlName="username" placeholder="Enter Username" autofocus />
            <mat-error *ngIf="errorMessage">Invalid Username</mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end" fxLayoutGap="10px" style="padding-top:30px;">
          <button mat-raised-button (click)="cancel()">Cancel</button>
          <button mat-raised-button (click)="validUserName(stepper)"
            [disabled]="userNameForm.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="securityQuestionForm">
      <form [formGroup]="securityQuestionForm">
        <ng-template matStepLabel>Security Questions</ng-template>
        <div fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput formControlName="answerToSecurityQuestion1" [placeholder]="question1" />
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput formControlName="answerToSecurityQuestion2" [placeholder]="question2" />
          </mat-form-field>

          <mat-form-field fxFlex>
            <input matInput formControlName="answerToSecurityQuestion3" [placeholder]="question3" />
            <mat-error *ngIf="!questionsVerified">One or more of your answers could not be verified.</mat-error>

          </mat-form-field>

          <div fxLayoutAlign="end" fxLayoutGap="10px" style="padding-top:30px;">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
            <button mat-raised-button (click)="verifySecurityQuestions(stepper)">Verify answers</button>
          </div>

        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="newPasswordForm" [completed]="isCompleted">
      <form [formGroup]="newPasswordForm">
        <ng-template matStepLabel>Set Password</ng-template>
        <div fxLayout="column" fxLayoutAlign="start">
          <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="Password" />
            <mat-error *ngIf="newPasswordForm.controls['password'].hasError('minlength')">Minimum of 8 characters
            </mat-error>
            <mat-error *ngIf="newPasswordForm.controls['password'].hasError('pattern')">Requires one uppercase, one
              lowercase, and one number.</mat-error>
          </mat-form-field>
          <mat-form-field style="padding-top: 3rem !important;">
            <input type="password" matInput formControlName="confirmationPassword" placeholder="Confirm password" />
            <mat-error *ngIf="newPasswordForm.controls['confirmationPassword'].hasError('passwordsDoNotMatch')">
              Passwords do not match</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px" style="padding-top:30px;">
          <button mat-raised-button (click)="cancel()">Cancel</button>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="changePassword()" [disabled]="newPasswordForm.invalid">Change
            password</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
