
<!--
============================================
; Title: not-found
; Author: Reva Baumann
; Date: 01/06/2020
; Modified By: Reva Baumann
; Description: 404 Page
;===========================================
-->

<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 0%;" class="mat-elevation-z8">
    <br />

    <mat-card-subtitle style="text-align: center;" class="mat-headline">Sorry, that page is not found.</mat-card-subtitle>

    <mat-card-content style="text-align: center;">

      <button mat-raised-button color="primary" routerLink="/">Return to Home</button>

    </mat-card-content>
  </mat-card>
</div>
