<!--
============================================
; Title: service-detail-dialog.component
; Author: Troy Martin
; Date: 01/19/2020
; Modified By: Troy Martin
; Description: Create or update service
;===========================================
-->
<div fxLayout="column" fxFlexFill style="padding: 10px;">
  <h2 mat-dialog-title>Service</h2>
  <mat-dialog-content>
    <form
      [formGroup]="form"
      #serviceForm="ngForm"
    >
      <mat-form-field fxLayout="column">
        <input
          type="text"
          matInput
          formControlName="description"
          placeholder="Description"
          fxFlex
        />
      </mat-form-field>
      <mat-form-field fxLayout="column">
        <input
          type="text"
          matInput
          formControlName="price"
          placeholder="Price"
          mask="0*.00"
          [dropSpecialCharacters]="false"
          fxFlex
        />
      </mat-form-field>
      <br />
      <mat-card-actions>
        <div fxFlex></div>
        <button (click)="cancel()" mat-raised-button>Cancel</button>
        <button (click)="save()" mat-raised-button>Save</button>
      </mat-card-actions>
    </form>
  </mat-dialog-content>
</div>
