<!--
============================================
; Title: about-us
; Author: Reva Baumann
; Date: 01/06/2020
; Modified By: Reva Baumann
; Description: About BCRS
;===========================================
-->

<div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 50%">
  <mat-card>
    <mat-card-header fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start">
        <h3>About Us</h3>
      </div>

      <div class="img-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <img fxFlex="80%" src="../../../assets/images/k-i-l-i-a-n-PZLgTUAhxMM-unsplash.jpg" alt="repair" title="Photo by K I L I A N on Unsplash">
      </div>

    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="start">
      <div fxFlex>
        <h3>Hi, I'm Bob</h3>
        <p>Bob started his first computer repair shop in the early 1990’s while
          attending Bellevue University, where he received his Master’s in
          Business Administration. After a frustrating experience at a local
          computer fix-it shop, he saw a need for people to be able to go
          somewhere and get problems fixed, quickly and efficiently,
          without spending a fortune on unnecessary tasks and parts.
          Bob started in his garage, tinkering with computer parts and keyboards,
          thus, Bob’s Computer Repair shop was born. </p>

          <p>Bob’s has since grown to five different locations in three different
          cities, all of which Bob still oversees and trains directly.
          Bob’s goal is to grow his business by tailoring solutions to the
          customer’s needs.</p>

          <p>Bob’s first frustration as a business owner was Invoicing Software.
          He tried a number of programs, but nothing check all the boxes. He then
          decided to create his own. Rather than a knuckle-busting, register
          driven receipt, he was able to offer an advanced solution that he still
          uses today. Bob created this solution that worked best for him, which is
          why he believes in the importance of tailoring the approach to each
          customer. Bob combines several solutions, tools and resources to provide
          a dependable service that always delivers.</p>

          <p>Bob’s is able to resolve simple problems, like a password change,
          up to complex solutions for the expert programmer. Although Bob’s Computer
          Repair Shop has seen rapid growth, little has changed in the way that his shop
          is ran. Bob has focused on expanding the same family dynamic that he started
          with. He offers expert services that make his customers feel comfortable and
          cared for.</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
