  <!--
  ============================================
  ; Title: footer.component
  ; Author: Richard Krasso
  ; Date: 01/17/20xx
  ; Modified By: Troy Martin
  ; Description: Common footer
  ;===========================================
  -->
  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - Bob's Computer Repair Shop -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>
