
.mat-toolbar {
  background-color: #1565c0;
  color: white;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
  color: white;
}

.bu-link:hover {
  text-decoration: underline;
}
